@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #f4f7fa;
  --foreground: #0f172a;

  --sec: #475569;

  --acc: #5a10db;
  --acc-lgt: #6545f3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-sans-jakarta);

  --color-sec: #475569;

  --color-acc: var(--acc);
  --color-acc-lgt: var(--acc-lgt);
}

body {
  background: var(--background);
  color: var(--foreground);
}